::-webkit-scrollbar {
    width: 8px;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, .2);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgba(170, 170, 170, .2);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(200, 200, 200, .2);
}