.task
{
  box-shadow: 4px 4px 13px 0px black;
  padding: 10px;
  border: solid black 1px;
  border-radius: 10px;
  display: flex;
  margin: 20px;
}
.logo
{
  margin-right: 25px;
  border: 1px solid #6fe091;
  border-radius: 15px;
  padding: 8px;
  align-self: center;
}
.task-content
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.task-content > *
{
  margin: 0;
  
}
.task-content > p
{
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
}
.task-content > h2
{
  color: white;
}
.task-content span
{
  font-weight: bold;
}
.smallButton > img
{
  height: 22px;
}

.smallButton
{
  align-self: center;
}

.smallButton.active
{
  transform:scale(0.9);
}

.buttonBar
{
  display: flex;
  justify-content: space-between;
  margin-left:auto;
  flex-direction: column;
}
